{% extends 'base.html' %}

{% block titulo %}Minha Clínica 2024 {% endblock %}
{% block conteudo %}
        <header>
            <h1>Minha Clínica</h1>
        </header>
        <article>
            <a href="{% url 'relat_pacientes' %}" role="button" class="secondary">
                Relatório Pacientes
            </a>
            <a href="{% url 'graf_cons_conv' %}" role="button" class="secondary">
                Gráfico de Consultas por Convênio
            </a>
        </article>
{% endblock %}